.userWidget {
  display: flex;
  padding: 8px;
  border: 1px solid;
  border-color: #e0e0e2;
  border-radius: 5px;
  background-color: #fafafa;
  height: 100px;
  /* justify-content: center; */
}

.userPhoto {
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.userDetails {
  margin: 0; /* Remove margin around user details */
  padding: 0; /* Remove padding around user details */
  color: #63666b;
}

.userDetails h2,
.userDetails p {
  margin: 3px; /* Remove margin from headings and paragraphs */
  padding: 3px; /* Remove padding from headings and paragraphs */
}
